/* @font-face {
    font-family: IMBrand;
    src: url('../../../assets/fonts/Kdg-Medium.woff2');
} */

h2 {
    font-family: IMBrand, Arial;
    font-size: 40px;
    font-weight: 500;
    text-transform: uppercase;
}