@font-face {
    font-family: IMBrand;
    src: url('../assets/fonts/Kdg-Medium.woff2');
}

@font-face {
    font-family: NotoSans;
    src: url('../assets/fonts/NotoSans-Medium.woff2');
}

@font-face {
    font-family: NotoSans;
    font-weight: bold;
    src: url('../assets/fonts/NotoSans-Bold.woff2');
}

* {
    font-family: NotoSans, Arial;
    -webkit-user-select: none;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.split {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    max-height: 100vh;
    justify-content: space-between;
}