.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 94vh;
    max-height: 94vh;
}

.split {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    max-height: 100vh;
    background-image: url('../assets/images/background.png');
    background-size: 100% 1000px;
    background-repeat: repeat;
    background-position: center;
}