html,
body {
    border-color: #736b5e;
    color: #e8e6e3;
    margin: 0;
    padding: 0;
    min-width: 100vw;
    max-width: 100vw;
    min-height: 100vh;
    max-height: 100vh;
    line-height: 1.6;
    text-rendering: optimizeLegibility;
    caret-color: transparent;
}

body {
    background-image: url('./assets/images/background.png');
    background-size: 100% 1000px;
    background-repeat: repeat;
    background-position: center;
}

* {
    scrollbar-color: #454a4d #202324;
}

span {
    color: orange;
}

.row,
.column {
    display: flex;
    justify-content: center;
    align-items: center;
}

.column {
    flex-direction: column;
}

.row {
    flex-direction: row;
}

.unselectable,
.uninteractable {
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.uninteractable {
    pointer-events: none;
}