* {
    background-color: rgba(0, 0, 0, 0.001);
}

html,
body {
    height: 15px;
    margin: 0px;
    padding: 0px;
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    pointer-events: none;
    max-width: fit-content;
    max-height: fit-content;
    font-family: NotoSans, Arial;
    overflow: hidden;
}

p {
    color: rgb(212, 212, 212);
    margin: 0px;
}